<div data-alert class="alert-box">
<p>FOUNDATION ALERT</p>
<a href="#" class="close">&times;</a>
</div>

<div class="alert alert-warning alert-dismissible" role="alert">
<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<strong>BOOTSTRAP</strong> ALERT.
</div>

<div class="row">
	<div class="col s12 m5">
	  <div class="card-panel teal">
		<span class="white-text">MATERIALIZE
		CARD
		</span>
	  </div>
	</div>
</div>